* {
    font-family: Montserrat;
}

.logo {
    width: 50%;
}
.game-col {
    background-image: url("../../uploads/danone/bg.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ftv {
    background-image: url("../../assets/jpg/ftv.jpg");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
}